<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">
    <br>
    <h2>LIVE SETS</h2>
    <br>
    <iframe width="560" height="350" src="https://www.youtube.com/embed/794nHRxuLyo?si=KcZABxS4FM2iAZ0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br><br>
    <iframe width="560" height="350" src="https://www.youtube.com/embed/B17NkBeHvNk?si=m6LfuWhI2eGqFPH9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <br>
    <br>
  </div>
<app-footer></app-footer>
