<footer class="footer py-4 mt-auto">
  <div class="container px-5">
    <div
      class="row align-items-center justify-content-between flex-column flex-sm-row"
    >
      <div class="col-auto">
        <div class="small m-0 text-white">
          Copyright &copy; ASTI6 (◣∀◢)ψ
        </div>
      </div>
      <div class="col-auto">
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="https://soundcloud.com/neoac2" target="_blank">Soundcloud</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="https://www.instagram.com/neoac2_dj/" target="_blank">Instagram</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="https://www.youtube.com/channel/UCqSI-6MtC-06egA0mEpuSCA" target="_blank">Youtube</a>
      </div>
    </div>
  </div>
</footer>
