<nav class="navbar navbar-expand-lg">
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/"><H5>NEOAC2 (◣∀◢)ψ</H5></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/bio">BIO</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/music">MUSIC</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/streams" >STREAMS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/visual-art" >VISUAL-ART</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dates">DATES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/services">SERVICES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">HOME</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

