<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">

    <iframe width="335" height="335" src="https://www.youtube.com/embed/dni-OtUlZB8?si=-OoT438x1y3tKuaF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    <br><br>
    <br><br>

    <iframe width="335" height="335" src="https://www.youtube.com/embed/1mEl1oLXMUU?si=luYhvvpgKUGoGHLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    <br><br>
  </div>
