<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">
    <br>
    <br>
    <div class="container text-center">


      <div class="row">
        <div class="col">
          30 Mar 2024
        </div>
        <div class="col-6">
          EDEN2
        </div>
        <div class="col">
          <a href="https://www.instagram.com/reel/C4iyuW9Oc9R/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col">
          19 Ene 2024
        </div>
        <div class="col-6">
          EDEN DORADO
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/C2TrbHONUb0/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col">
          29 Dic 2023
        </div>
        <div class="col-6">
          BOILER ROOM
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/C1ucY5JuaG4/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col">
          09 Dic 2023
        </div>
        <div class="col-6">
          DANUBIO
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/C0p3XxCtcmS/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col">
          13 Nov 2023
        </div>
        <div class="col-6">
          KAFIR RAVE
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/CzmxDlGNk0R/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col">
          30 Sep 2023
        </div>
        <div class="col-6">
          EROS
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/CxOn0-oJLbD/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col">
          20 Aug 2023
        </div>
        <div class="col-6">
          DIMENSION
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/Cx39l5KpBV2/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          19 Jul 2023
        </div>
        <div class="col-6">
          CANDY FLIP
        </div>
        <div class="col">

          <a href="https://www.instagram.com/p/CxGbJhpuuky/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          17 Jun 2023
        </div>
        <div class="col-6">
          IGCOGNITO RAVE
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/CvVlYznJfhB/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>


        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          25 Feb 2023
        </div>
        <div class="col-6">
          DORTMUND
        </div>
        <div class="col">

          <a href="https://www.instagram.com/p/Cu952nUO2W9/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          10 Dec 2022
        </div>
        <div class="col-6">
          BERLIN
        </div>
        <div class="col">
          <a href="https://www.instagram.com/reel/ClwTbXYj-zm/" style="text-decoration:none" target="_parent" style="color: white;">TICKETS INFO</a>


        </div>
      </div>
      <hr>
  </div>
</div>

