<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">
    <br>
    <h2>DATES</h2>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          30 Sep 2023
        </div>
        <div class="col-6">
          EROS
        </div>
        <div class="col">
          <a href="https://www.instagram.com/p/CxOn0-oJLbD/" style="text-decoration:none" target="_blank" style="color: white;">TICKETS INFO</a>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          20 Aug 2023
        </div>
        <div class="col-6">
          DIMENSION
        </div>
        <div class="col">
          TICKETS INFO
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          19 Jul 2023
        </div>
        <div class="col-6">
          CANDY FLIP
        </div>
        <div class="col">
          TICKETS INFO
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          17 Jun 2023
        </div>
        <div class="col-6">
          IGCOGNITO RAVE
        </div>
        <div class="col">
          TICKETS INFO
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          25 Feb 2023
        </div>
        <div class="col-6">
          DORTMUND
        </div>
        <div class="col">
          TICKETS INFO
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          10 Dec 2022
        </div>
        <div class="col-6">
          BERLIN
        </div>
        <div class="col">
          TICKETS INFO
        </div>
      </div>
      <hr>
  </div>
</div>

