<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">
    <br>
    <h2>RELEASES</h2>
    <br>
    <img class="profile" src="assets/future.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/future" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>
 <br>
    <br>
    <img class="profile" src="assets/raveNation.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/rave-nation" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>
 <br>
    <br>
    <img class="profile" src="assets/candyFlip.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/candy-flip-2023" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>
 <br>
    <br>
    <img class="profile" src="assets/funkTribu.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/funk-tribu-neoac2-techno-edit-free-dl" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>
 <br>
    <br>
    <img class="profile" src="assets/insideTheAcid.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/neoac2-inside-the-acid" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>  |
 <a href="https://open.spotify.com/intl-es/track/3qvKdWiNAwKCd2SjCU7PgH" style="text-decoration:none" target="_blank" style="color: white;">  Spotify</a>
 <br>
    <br>
    <img class="profile" src="assets/stasis.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/neoac2-stasis" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>  |
 <a href="https://open.spotify.com/intl-es/track/3AMjT1NqtqPZ4mmSWbUqXk" style="text-decoration:none" target="_blank" style="color: white;">  Spotify</a>
 <br>
    <br>
    <img class="profile" src="assets/acidNight.jpg" alt="">
 <br>
 <a href="https://soundcloud.com/neoac2/neoac2-acid-night" style="text-decoration:none" target="_blank" style="color: white;">Soundcloud</a>  |
 <a href="https://open.spotify.com/intl-es/track/5EpdI8LhQQzcKCC8G6af87" style="text-decoration:none" target="_blank" style="color: white;">  Spotify</a>
 <br>



</div>
</div>
<app-footer></app-footer>
