<app-navbar></app-navbar>
<div class="body">
  <div class="container" style="text-align: center;">

<iframe width="335" height="335" src="https://www.youtube.com/embed/aO8PNTcBYa8?si=a_JQyHGYbKaJ02pf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/ul1k-yKV3rU?si=2_xf_Qe-vO2v6pxL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/xSxFtYc0Jqg?si=FYyIMpSKwunv78zl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/KshzLjVtzCg?si=O5UyxSIDDXRha0uf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/3BGllrS3O2A?si=pVKNrRVw1FyeQ3mR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/4DbpeZNAWnM?si=1zZIi3oExCs2cD5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/XjCPtdl6suY?si=bBLUn_wxMzBFcSdz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/N_ACyF6FvRY?si=A9HVYbT9goCWgTYB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/bx5DriLtW6E?si=j_ImxL4gn6byuyFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/JKuvKp0n19A?si=YvvJeQgH6wftde4G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/bYGcEiOfubs?si=5WfDHO2-YuauxuGP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/SEyDrHVOskU?si=4UoFQcwTdfvbxb2t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br><br>
<iframe width="335" height="335" src="https://www.youtube.com/embed/K01bFhXbF7k?si=BKqMuQbEo4a8HsCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
  <app-footer></app-footer>
