/* You can add global styles to this file, and also import other style files */
*{
  background-color: rgb(0, 0, 0);
}
@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
h6, p, a, small, footer {
    font-family: 'LaBelleAurore';
}

