.bio{
  background-color: black;
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
}
.profile{
  border-radius: 60%;
  width: 300px;
  height: 300px;
}
.p{
  text-align: justify;
}
