<app-navbar></app-navbar>
<div class="row">
  <div class="col">
<div class="bio">
  <br>
  <!-- <img class="profile" src="assets/bio.jpg" alt=""><br><br> -->

<p id="bio"></p>
  NEOAC2 es un apasionado DJ y productor de Techno creador de su propio sello ASTI6 que ha estado impulsando los límites del género desde 2022. Con una pasión ardiente por la música electrónica y una visión única de la escena, se ha convertido en una figura influyente tanto en el escenario local de la música electrónica como en el mundo de la producción musical, la historia de NEOAC2 en la música comenzó en Florencia Caquetá, donde desde una edad temprana mostró un interés apasionado por la música electrónica y los sonidos intensos. Inspirado por los ritmos contundentes y la energía inquebrantable del Techno, se sumergió en la creación de su propio sonido, fusionando elementos oscuros y melódicos.<br><br>
  La destreza de NEOAC2 en la mezcla y su capacidad para generar un frenesí en la pista de baile lo han llevado a actuar en los eventos más prestigiosos de la escena Techno a nivel local. Sus sets intensos y enérgicos son un testimonio de su profundo amor por el género y su habilidad para llevar a las multitudes a un viaje sonoro sin igual.<br><br>
  Talentoso productor musical que ha lanzado una serie de tracks que encapsulan la esencia del Techno. Sus producciones, que a menudo fusionan elementos oscuros y melodías hipnóticas, han encontrado un hogar en su propio sello discográfico llamado ASTI6 y han sido respaldadas por DJs de renombre en la escena local.<br><br>
  Fundador y director de ASTI6 Records, un sello discográfico dedicado a promover y nutrir el talento emergente en la escena del Techno. ASTI6 Records se ha convertido en un faro de innovación y calidad en el género, lanzando música que desafía las expectativas y establece estándares elevados para la industria, conocido por su enfoque implacable en la autenticidad y la pasión en su música. Su objetivo es transportar a su audiencia a un mundo de intensidad y liberación a través de sus sonidos y llevar al Techno a nuevos horizontes.<br><br>
  Su futuro se ve emocionante y lleno de innovación, con nuevos lanzamientos, colaboraciones contundentes y un compromiso continuo con la evolución del Techno. Se encuentra en una misión para llevar su música y la de otros artistas talentosos a nuevas alturas.<br><br>
  Sigue a NEOAC2 en sus redes sociales y plataformas de música para mantenerte al tanto de sus últimas creaciones y actuaciones en vivo, y sigue la evolución de ASTI6 Records en su sitio web oficial.
 <br><br>
  <a href="https://drive.google.com/file/d/19g1waNciCik1Cg13x_kEXsBByN0ZUWR7/view?usp=sharing" download="NEOAC2 PRESS KIT.pdf" style="text-decoration:none" target="_blank" style="color: white;" target="_parent"> DESCARGAR PRESSKIT</a>
<br><br>
<img class="profile" src="assets/NEOAC22.jpg" alt=""><br><br>

</div>
</div>
</div>
<app-footer></app-footer>
